@model StringConverter.Models.ViewModel.GetUserModel
@{
    ViewData["Title"] = "Login Page";
}
@*
<div>

    <h1>AFS Text Translator Login Page</h1>

</div>
<form method="post">
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
    </div>
    <div class="mb-3">

        <button type="submit" class="btn btn-dark">Submit</button>

    </div>
</form>*@
